<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/boilerplate :: css"></div>
</head>

<body>

    <h2>Delete a file</h2>
    <form enctype="multipart/form-data" action="/storage/deleteFile" name="deleteForm" id="deleteForm" th:method="DELETE">
        <input type="text" placeholder="url" name="fileUrl" value="https://s3.us-east-1.amazonaws.com/jti-audio/1566429494043-BP_FrigidSlash_Attack_01.mp3">

        <input type="submit" value="submit" id="deleteBtn">

        <input type="hidden" name="_method" value="DELETE">
    </form>

    <div th:replace="fragments/boilerplate :: js"></div>
    <script type="text/javascript" th:src="@{~/js/delete.js}"></script>

</body>

</html>